:root {
  --space-default: 1.1rem;
  --radius-default: 4px;
  --time-default: 0.2s;

  --color-dark: rgb(20, 19, 19);
  --color-light: rgb(255, 255, 255);
  --color-gray: rgb(212, 212, 212);
  --color-red: rgb(239, 68, 68);
  --color-orange: rgb(249, 115, 22);
  --color-yellow: rgb(245, 158, 11);
  --color-lime: rgb(132, 204, 22);
  --color-green: rgb(34, 197, 94);
  --color-cyan: rgb(20, 184, 166);
  --color-blue: rgb(14, 165, 233);
  --color-violet: rgb(139, 92, 246);
  --color-pink: rgb(217, 70, 239);
  --color-rose: rgb(244, 63, 94);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-dark);
}

/* content containers */
section.content {
  padding: var(--space-default);
}

@media (min-width: 1400px) {
  section.content {
    max-width: 70%;
    margin: 0 auto;
  }
}

h2.headline {
  text-transform: capitalize;
  margin-bottom: var(--space-default);
}

.box {
  padding: var(--space-default);
  border: 1px solid var(--color-gray);
  border-radius: var(--radius-default);
}

.box > h4 {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.box > .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box > .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.box:hover {
  cursor: pointer;
}

/* buttons */
.btn {
  padding: 10px 50px;
  border: 1px solid transparent;
  border-radius: var(--radius-default);
  background-color: transparent;
  transition: all var(--time-default);
}

.btn:hover {
  cursor: pointer;
}

.btn-danger {
  border-color: var(--color-red);
}

.btn-danger:hover {
  background-color: var(--color-red);
  color: var(--color-light);
}

.btn-success {
  border-color: var(--color-green);
}

.btn-success:hover {
  background-color: var(--color-green);
  color: var(--color-light);
}

/* boards grid */
.boards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--space-default);
}

.board-card {
  transition: all var(--time-default);
}

.board-card:hover {
  border-color: var(--color-dark);
  cursor: pointer;
}

.board-card.active {
  border-color: var(--color-dark);
}

.board-card > h3 {
  text-transform: capitalize;
}

/* active board wrapper */
.active-board-wrapper {
  display: flex;
  gap: var(--space-default);
}

/* board */
.board-main {
  flex: 2;
  min-height: 300px;
}

.board-support {
  flex: 1;
}

.board-staff {
  flex: 1;
}

.board-actions {
  margin-bottom: var(--space-default);
}

.board-badge {
  border: 1px solid var(--color-gray);
  border-radius: var(--radius-default);
  padding: 10px;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.board-badge:hover {
  cursor: pointer;
}

.board-badge.active {
  border-color: var(--color-cyan);
}
